@font-face {
    font-family: 'PP Monument Extended';
    src: url('PPMonumentExtended-Black.eot');
    src: url('PPMonumentExtended-Black.eot?#iefix') format('embedded-opentype'),
        url('PPMonumentExtended-Black.woff2') format('woff2'),
        url('PPMonumentExtended-Black.woff') format('woff'),
        url('PPMonumentExtended-Black.ttf') format('truetype'),
        url('PPMonumentExtended-Black.svg#PPMonumentExtended-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Monument Extended';
    src: url('PPMonumentExtended-Light.eot');
    src: url('PPMonumentExtended-Light.eot?#iefix') format('embedded-opentype'),
        url('PPMonumentExtended-Light.woff2') format('woff2'),
        url('PPMonumentExtended-Light.woff') format('woff'),
        url('PPMonumentExtended-Light.ttf') format('truetype'),
        url('PPMonumentExtended-Light.svg#PPMonumentExtended-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Monument Extended';
    src: url('PPMonumentExtended-Regular.eot');
    src: url('PPMonumentExtended-Regular.eot?#iefix') format('embedded-opentype'),
        url('PPMonumentExtended-Regular.woff2') format('woff2'),
        url('PPMonumentExtended-Regular.woff') format('woff'),
        url('PPMonumentExtended-Regular.ttf') format('truetype'),
        url('PPMonumentExtended-Regular.svg#PPMonumentExtended-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

